<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Happy </string>
	<string>Sad </string>
	<string>Satanic </string>
	<string>Retarded </string>
	<string>Evil </string>
	<string>Godly </string>
	<string>Naughty </string>
	<string>Perverted </string>
	<string>Gay </string>
	<string>Emo </string>
	<string>Lonely </string>
	<string>Hated </string>
	<string>Kawaii </string>
	<string>Nice </string>
	<string>Horny </string>
	<string>Ghetto </string>
	<string>Funkalicious </string>
	<string>80s </string>
	<string>Hippy </string>
	<string>Egotistical </string>
	<string>Scared </string>
	<string>Stressed </string>
	<string>Zombie </string>
	<string>Nazi </string>
	<string>Nerdy </string>
	<string>Buff </string>
	<string>Mean </string>
	<string>Lesbian </string>
	<string>Overly Straight </string>
	<string>Furry </string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
