<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Einstein </string>
	<string>Hitler </string>
	<string>random MLP Character </string>
	<string>Jesus </string>
	<string>Mario </string>
	<string>Kim Jong Un </string>
	<string>swag Fag </string>
	<string>Jackie Chan </string>
	<string>Queen Elizabeth the 2nd </string>
	<string>Stalin </string>
	<string>Link </string>
	<string>Dumbledore </string>
	<string>Ash Ketchup </string>
	<string>Darth Vader </string>
	<string>Gandalf </string>
	<string>Pikachu </string>
	<string>Darth Vader </string>
	<string>housewife </string>
	<string>Luigi </string>
	<string>Tony Abbott </string>
	<string>Zeus </string>
	<string>Ezio Auditore </string>
	<string>Michael Jackson </string>
	<string>Spiderman </string>
	<string>Hulk </string>
	<string>Stephen Hawking </string>
	<string>Gandhi </string>
	<string>Han Solo </string>
	<string>Princess Leia </string>
	<string>Morgan Freeman </string>
	<string>a priest </string>
	<string>Legolas </string>
	<string>Chuck Norris </string>
	<string>sniper </string>
	<string>prince </string>
	<string>meme face </string>
	<string>the little mermaid </string>
	<string>Aragorn </string>
	<string>Frodo </string>
	<string>book </string>
	<string>Ginny Weasley </string>
	<string>blind rat </string>
	<string>altar boy </string>
	<string>horse </string>
	<string>bird </string>
	<string>pigeon </string>
	<string>hamster </string>
	<string>GLaDOS </string>
	<string>Chell </string>
	<string>potato </string>
	<string>Spartan </string>
	<string>Masterchief </string>
	<string>Charmander </string>
	<string>Bulbasaur </string>
	<string>Squirtle </string>
	<string>Vladmir Putin </string>
	<string>Obama </string>
	<string>Marty McFly </string>
	<string>pirate </string>
	<string>that one friend we all have that turns everything into a sexual joke </string>
  </array>
</plist>
