<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Swallowing (non-sexually) </string>
	<string>Swallowing (sexually) </string>
	<string>Faught with </string>
	<string>gave aids to </string>
	<string>beat up </string>
	<string>penetrating </string>
	<string>suprised </string>
	<string>took a stroll with </string>
	<string>killing </string>
	<string>beating up a jew with </string>
	<string>gasing a jew with </string>
	<string>throwing a nokia at </string>
	<string>compaining about americans with </string>
	<string>ate a cheeseburger filled with </string>
	<string>performed in a play with </string>
	<string>went to a theme park with </string>
	<string>marrying </string>
	<string>trying to hit on </string>
	<string>kissing </string>
	<string>kicking </string>
	<string>remembering </string>
	<string>is </string>
	<string>time travelling with </string>
	<string>gangbanging </string>
	<string>throwing poop at </string>
	<string>beating up a chimpanzee with </string>
	<string>urinating on </string>
	<string>changing their sexuality for </string>
	<string>made love to </string>
	<string>killing a midget with </string>
	<string>bought a dog with </string>
	<string>stalking hitler with </string>
	<string>stalking </string>
	<string>bombing japan with </string>
	<string>flying a plane into the WTC with </string>
	<string>Became muslim with </string>
	<string>Drank tea with </string>
	<string>put in their sandwich: </string>
	<string>attending uni with </string>
	<string>stabbing </string>
	<string>raping </string>
	<string>playing dressup games with </string>
	<string>skyping with </string>
	<string>sexting with </string>
	<string>dressing this person up like a furry: </string>
	<string>confessed to </string>
	<string>got confessed to by </string>
	<string>woke up after being drunk and had sex the night before with </string>
	<string>getting blown up by </string>
	<string>calling </string>
	<string>was smashed with a guitar by </string>
	<string>assaulting </string>
	<string>was ripped in half by </string>
	<string>was decapitated by </string>
	<string>playing chess with </string>
	<string>dancing with </string>
	<string>is being choking by </string>
	<string>choked </string>
	<string>playing pirates with </string>
	<string>used struggle against </string>
	<string>screaming at </string>
	<string>having a pie contest with </string>
	<string>having a burp contest with </string>
	<string>having a screaming contest with </string>
	<string>comparing their boobs with the boobs of </string>
	<string>comparing their muscles with the muscles of </string>
	<string>laughing at </string>
</array>
</plist>
